nav{
    font-size: 2rem;
    background-color: #f1f1f1;
}
nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
/*    justify-content: space-around; ---> As I write in nav ul li  flex: auto nd text-align: center so there is no need this property. The benifit is flex: auto nd text align: center---> The space is distributed within the item */
}
nav ul li{
    cursor: pointer;
    padding: 0.5rem;
    flex: auto;
    text-align: center;
}
nav ul li:hover{
    background-color: #555;
    color: white;
}

@media all and (max-width: 400px){
    nav ul{
        flex-direction: column;
    }
    nav ul li{
        text-align: center;
    }
}